#mine{
    margin: 50px auto; 
    padding:20px;   
}

.level {
    height: 0px;
    width: 300px;
    margin: 40px auto;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}


#easy:hover {
    background: #27dbff;
    color: #ff2600;
}
#normal:hover {
    background: #27dbff;
    color: #ff2600;
}

#difficult:hover {
    background: #27dbff;
    color: #ff2600;
}
#restart:hover {
    background: #27dbff;
    color: #ff2600;
}

.level button {
    padding: 30px 70px;
    background: #ff6dff;
    text-align: center;
    border: 2px solid;
    color: #fff;
    outline: 3px;
    border-radius: 50px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(0, 195, 255);
}

.level button.active{
    background-color: #27dbff;
}


.tips{
    color: rgba(216, 16, 16, 0.541)
}

.mine{
    background:#d9d9d9 url(地雷.png)no-repeat center;
    background-size: cover;
}

.flag{
    background:#ccc url(旗子.png)no-repeat center;
    background-size: cover;
}
.cell {
    background-color: #ccc;
    width: 1.5em;
    height: 1.5em;
    border-style: outset;
    text-align: center;
    font-weight: bold;
    user-select: none;
}

.clear {
    border-style: solid;
    border-color: #eee;
    background-color: #eee;
}

.cell.landmine {
    background-color: rgb(255, 187, 0);
}

.cell.landmine.exploded {
    background-color: red;
}

.cell.landmine.success {
    background-color: rgb(0, 128, 0);
}

.info {
    margin-top: 10px;
    text-align: center;
    height: 40px;
    width:300px;
    margin: 80px auto;
    float:left;
    text-align: center;
    margin-bottom: 10px;
}

table{
    border-spacing: 1px;
    background: #aaa9ad;
    margin: 0 auto;
}


.cell.zero {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
}

.cell.one {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #0332fe;
}

.cell.two {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #019f02;
}

.cell.three {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #ff2600;
}

.cell.four {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #93208f;
}

.cell.five {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #ff7f29;
}

.cell.six {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #ff3fff;
}

.cell.seven {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #3fffbf;
}

.cell.eight {
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color: #22ee0f;
}

